@font-face {
  font-family: hologramregular;
  src: url("hologram-webfont.2a9e784c.eot");
  src: url("hologram-webfont.2a9e784c.eot#iefix") format("embedded-opentype"), url("hologram-webfont.cfa6d2b4.woff2") format("woff2"), url("hologram-webfont.d78a1150.woff") format("woff"), url("hologram-webfont.46c694b6.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

